<div id="page_wrapper"></div>
	<div id="content">
		<h1>Homework01_Blog</h1>
		<p>1312162 - Phạm Văn Hà 1312490 - Dương Giang Sơn</p>
		<p>Contract us <a href="https://www.facebook.com/ammm555?fref=ts">@pvHa</a> or <a href="https://www.facebook.com/giang.son.79">@dgSon</a>.</p>
	</div>
</div>